<%# app/views/articles/show.html.erb %>
<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article", @article, method: :delete %>
</div>

<h4> Comentarios: </h4>
<%= render @article.comments %>


<h4>Agregar un comentario:</h4>
<%= render "comments/form", article: @article %>
